header {
  background-color: var(--theme-primary-color);
  height: 60px;
  font-size: 1.1em;
  box-shadow: 0px 7px 17px -6px rgba(176, 167, 176, 1);
}
ul{
  padding:0;
}
.header-nav {
  max-width: 1400px;
  width: 100%;
  margin: auto;
}
.header-nav-menu img{
 
  width: 0;
}
.header-nav-menu {
  position: absolute;
}
.header-nav-list {
  height: 60px;
  margin: 0;
  display: grid;
  grid-template-columns: 54% 33% 13%;
  grid-template-rows: 100%;
  justify-items: end;
  align-items: center;
  visibility: visible;
}

.header-nav-login {
  grid-column: 1/3;
}
.header-nav-signup {
  grid-column: 3/4;
  justify-self: start;
}
.header-nav-list li {
  margin: 10px 20px;
}
.header-nav-list li a {
  color: black;
}
.header-div-avatar {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.header-div-avatar img {
  border-radius: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header-nav-profile {
  display: flex;
  align-items: center;
}

.header-nav-button {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px 15px;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8em;
}
.header-nav-button:hover {
  text-shadow: 0 0 1px #ffffff;
  background-color: #0000000c;
}
@keyframes link-hover {
  from {
    color: black;
  }
  to {
    color: rgba(255, 255, 255, 0.445);
  }
}
.header-nav-list li a:hover {
  color: white;
  animation-name: link-hover;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.active-tab {
  font-weight: 800;
}
.header-nav-menu{
  visibility: hidden;
}
@media only screen and (max-width: 1000px) {

  .header-nav-list-logged .header-nav-list {
    height: 150px;
  }
  .header-nav-menu img {
    width: 25px;
  }
  .header-nav-menu {
    position: relative;
    background: transparent;
    border: none;
    margin-bottom: 20px;
    cursor: pointer;
    visibility: visible;
  }
   .header-nav-mobile {
    padding: 20px 0 0 20px;
  }
  .header-nav-list-logged  {
    padding: 0;
    grid-template-columns: 300px;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: start;
    align-items: flex-start;
  }
  .header-nav-list-logged li {
    margin-left: 0;
  }
  .header-nav-button {
    color: black;
    border: none;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    padding: 0;
  }
  .header-nav-button:hover {
    color: white;
    animation-name: link-hover;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    text-shadow: none;
    background-color: transparent;
  }
  .hide-menu{
    visibility: hidden;
  }
  .expand-header{
    height: 220px;
  }
  .fade-menu img{
    opacity: 0.5;
  }
}
@media only screen and (max-width: 700px) {
.header-nav-login{
  grid-column:1/2;
}
.header-nav-signup {
 grid-column:2/4; 
}
}