.post-card {
  border: 1px solid var(--theme-secondary-color);
  border-radius: 1%;
  width: 500px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0px 7px 17px -6px rgba(176, 167, 176, 1);
  display: flex;
  flex-direction: column;
}
.post-card__likes {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  font-size:17px;
}
.post-card__likes button {
  cursor: pointer;
  background: transparent;
  border: none;
}
.post-card__likes button img{
  width: 20px;
  filter: brightness(0%);
}
.liked{
  filter: brightness(100%) !important;
}
.post-card__heading,
.post-card__heading a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--theme-secondary-color);
  font-weight: 800;
  font-size: 1.1em;
}
.post-card__heading a:hover {
  cursor: pointer;
  color: var(--theme-primary-color);
}
.post-card__text {
  margin: 20px 0;
}
.post-card__image {
  margin: auto;
  max-width: 100%;
  margin-bottom: 20px;
}
.post-card__image img {
  max-height: 450px;
  width: 100%;
  object-fit: cover;
}
.post-card__heading__delete {
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
.post-card__heading__delete:hover {
  color: rgb(223, 100, 100);
}
.post-card__avatar{
  width:30px;
  height:30px;
  object-fit: cover;
  border-radius: 100%;
  margin-right:10px;
}
.post-card__actions{
  display: flex;
 
}
@media only screen and (max-width: 600px) {
  .post-card {
    width:80%;
  }
}